{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<head>
  <title>LuJapon</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0"/>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
            <div class="d-flex justify-content-center div-logo">
                <a href="{% url "diseños" %}"><img class="img-logo" src="{% static "img/LogoLucia.PNG" %}" alt="Descripción de la imagen"></a>
            </div>
            <div class= "nav-bar-personalizada">
                <div>
                    <a class="contenido navbar-brand" href="{% url "diseños" %}">Diseños</a>
                    <a class="contenido navbar-brand" href="{% url "sobreMi" %}">Sobre Mí</a>
                </div>
                {% if request.user.is_authenticated %}
                <div>
                    <a class="contenido navbar-brand" href="{% url "logout" %}">Cerrar Sesion</a>
                </div>
                {%else%}
                <div>
                    <a class="contenido navbar-brand" href="{% url "login" %}">Inicio Sesión</a>
                </div>
                {%endif%}
            </div>
    </nav>
    {% block contenido %}
    {% endblock  %}
    <link rel="stylesheet" href="{%static 'css/base.css'%}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</body>
</html>