{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<head>
  <title>LuJapon</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0"/>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
            <div class="d-flex justify-content-center div-logo">
                <a href="admin/"><img class="img-logo" src="{% static "img/LogoLucia.PNG" %}" alt="Descripción de la imagen"></a>
            </div>
            <div class= "nav-bar-personalizada">
                <div>
                    <a class="navbar-brand" href="{% url "diseños" %}">Diseños</a>
                    <a class="navbar-brand" href="{% url "sobreMi" %}">Sobre Mí</a>
                </div>
                <div>
                    <a class="navbar-brand">Inicio Sesión</a>
                </div>
            </div>
    </nav>
    {% block contenido %}
    {% endblock  %}
    <link rel="stylesheet" href="{%static 'css/base.css'%}"/>
</body>
</html>