{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="container">
  <div class="container px-4">
    <div class="row gx-5">
      <div class="col">
       <div class="contenedor-personalizado">
          <div class="divider d-flex align-items-center my-4">
            <h4 class="contenido text-center fw-bold mx-3 mb-0">Listado de usuarios</h4>
          </div>
          {% if usuarios %}
              {% for u in usuarios %}
                <!-- <a href="{% url 'view_pdf_admin' doc.id %}"> -->
                <a class="contenido text-center"><p>{{ u.username }}</a>
              {% endfor %}
          {% else %}
              <a class="contenido text-center">No hay usuarios</a>
          {% endif %}
       </div>
      </div>
      <div class="col">
        <div class="contenedor-personalizado">
          <div class="divider d-flex align-items-center my-4">
            <h4 class="contenido text-center fw-bold mx-3 mb-0">Listado de peticiones</h4>
          </div>
          {% if peticiones %}
              {% for p in peticiones %}
                <a href = "{% url 'peticionesDetalles' p.id %}" class="contenido text-center">{{ p.asunto }}</a>
              {% endfor %}
          {% else %}
              <a class="contenido text-center">No hay peticiones</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}
