.contenedor-personalizado {
    border: 3px solid #f1d1ff;
    border-radius: 10px;
    padding: 20px; /* Agregamos un poco de espacio para que no estén pegados a los bordes */
}

.bt-login {
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
}

.contenido {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(87, 42, 118);
}

.btn-outline-custom {
    background-color: #f1d1ff;
}

.form-control-lg {
    font-size: 14px;
    border: 3px solid #f1d1ff;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 2px;
    background: #f1d1ff;
}

.form-control {
    width: calc(100% - 40px); 
    margin-bottom: 10px; 
}

label {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(87, 42, 118);
}
