.img-sobreMi{
    width: 75%;
    height: auto;
}

.titulo{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(87, 42, 118);
}

.contenido{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(87, 42, 118);
}

.contenedor-personalizado{
    border: 3px solid #f1d1ff;
    border-radius: 10px;
}