.nav-bar-personalizada{
    background-color: #f1d1ff; 
    width: 80%; 
    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    border-radius: 5px;
}

.div-logo{
    width: 20%; 
    height: 100%;
}

.img-logo{
    width: 150px; 
    height: auto;
}

a{
    color: rgb(87, 42, 118);
    text-decoration: none;
    margin: 0 10px;
}

.contenido{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(87, 42, 118);
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.footer{
    background-color: #f1d1ff; 
    text-align: center;
    padding: 1em 0;
    width: 100%;
}